// Colors
$background-dark-blue: #14151F;
$background-blue: #1C1D2B;
$color-purple: #A911E6;
$color-dark-purple: #500F6A;
$color-green: #71BE5D;
$color-white: white;

// Shadows
$shadow: 3px 3px 2px;

// Breakpoints
$breakpoint-tablet: 768px;