// Body
$body-bg: #14151F;
$card-bg: #1C1D2B;
$title-color: #A911E6;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$breakpoint-tablet: 768px;