.btnEvento{
    height: 100px;
    @include button;
}

#link_admin{
    @include link;
}

.btnDestacados{
    text-align: right;  
    color: $color-white;
    @include button($mt : 20px, $width : fit-content);
}

.icons_group{
    color: $color-white;
}