.body{
    border: 5px solid red;
}
.btnEvento{
    margin-top: 50px;
    background-color: #A911E6;
    border-radius: 10px;
    font-size: 18px;
    width: 500px;
    height: 50px;
}
#link_admin{
    text-decoration: none;
    color: white;
}

.btnDestacados{
    background-color: #A911E6;
    width: fit-content;
    font-size: 18px;
    text-align: right;
    border-radius: 10px;
    color: white;
}