.section-cards {
    width:90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 40%;
    justify-content: space-between;
}

#card-event {
    width: 100%;
    background-color: $background-blue;
    border-radius: 15px;
    
    .col-md-4 {
       width: 30%;
    } 

    .col-md-8 {
        width: 70%;
    }

    .card-title{
        font-size: 2em;
    }

    .date-event {
        font-style: italic;
        font-size: 1em;
    }
    
    .subscribe-div{
        justify-content: flex-end;

        #subscribe-btn {
            @include subscribe;
        }
    
        #unsubscribe-btn {
            @include subscribe($color : $color-white, $background-color : $color-purple, $shadow: $shadow $color-dark-purple);
        }
    }    
    
    .collapse-container {
        .collapse-description{
            border-top: 2px solid $color-green;
            .btn{
                display: block;
                margin: 2% 0 0 auto;
                background-color: $background-blue;
                border: none;
            }
        }
        
        #card {
            width: 90%;
            margin: 1% auto;
            background-color: $background-blue;
        }
    }  
}

@media (min-width: $breakpoint-tablet) {
    #card-event {
        width: 40%;
        margin: 0;  
        .card-description {
            width:100%;
            background-color: $background-blue;
            p {
                margin-top: 4%;
                font-size: regular; 
            }
        }  
    }
}