main {
    margin-top: 3%;   

    .card {
      border: 1px solid red;
      margin-left: 250px;

      .class-body {
        #join{
          color: #6FCF69;
          border-radius: 30px;
        }

        #link_password {
          text-decoration: none;
        }

        #anterior {
          text-decoration: none;
          padding-top: 10px;
        }
      }      
    }

}

// @media (min-width: $breakpoint-tablet) {
//     .container {
//         width: 70%;   
//     }
// }

// @media (max-width: 800px) {
//     #title {
//         font-size: 24px;
//     }

//     #link {
//         font-size: 18px;
//     }

//     #bar {
//         align-self: center;
//         height: 20px;
//     }
// }
