main {
    margin-top: 3%;   

    .card {
      border: 1px solid red;
      margin-left: 250px;

      .card-body {
          form {

            #name, #password, #remember {
              color: #A911E6;
            }

            #join {
              button {
              background-color: #6FCF69;
              border-radius: 30px;
              color: #500F6A;
              }              
            }

          #link_password {
            a {
              text-decoration: none;
              color: #A911E6;
            }
          } 
        
        }      
      }
    }
}

// @media (min-width: $breakpoint-tablet) {
//     .container {
//         width: 70%;   
//     }
// }

// @media (max-width: 800px) {
//     #title {
//         font-size: 24px;
//     }

//     #link {
//         font-size: 18px;
//     }

//     #bar {
//         align-self: center;
//         height: 20px;
//     }
// }
