main {
    margin-top: 3%;   

    .card {
      border: 1px solid red;
      margin-left: 250px;

      .card-body {
          #register {
            color: #6FCF69;
            border-radius: 30px;
            }

          #anterior {
            text-decoration: none;
            padding-top: 10px;
            } 
        }
    }
}