main {
    margin-top: 3%;   

    .card {
      border: 1px solid red;
      margin-left: 250px;

      .card-body {
          form {
            #register {
              button {
                background-color: #6FCF69;
                border-radius: 30px;
                color: #500F6A;
              }              
            }

            #anterior {
              text-decoration: none;
              padding-top: 10px;
            } 
          }
            
      }
    }
}