.my-events-container {
    height: fit-content;
    justify-content: center;
    align-items: center;
    .my-events {
        width:90%;
        background-color: $background-blue;
        border-radius: 10px;
        padding: 15px 0px 0px 0px;

        .text {
            justify-content: center;
            font-size: 18px;
            color: $color-white;
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .my-events-container {
        .my-events {
            width:40%;
            .text {
                font-size: 14px;
            }
        }
    }
}